
nav{
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 20px;
}
ul .nav{
	list-style: none;
	display: flex;
	padding: 0px 10px 0px 10px;
	
}
ul .nav li{
	padding: 20px;
	display: block;
	position: relative;

}

ul .nav li:hover{
	background-color: blueviolet;
	
	padding: 10px;
    cursor: pointer;
	border-bottom: 2px solid white;
}
ul .nav li a{
	display: block;
	position: relative;
	text-decoration: none;
	color: white;
	font-size: 20px;

}
.info{
	position: absolute;
	left:30%;
	top:30%;
	color: white;
	font-size: 35px;
}
body{
	background-size: 100%;
}
ul .nav li:hover ul.submenu li{
	display: block;
	background-color: blueviolet;
	

	
}
ul.submenu li{
	
	display: none;
	background-color:blueviolet ;
	min-width:0px;
	left: 0;
	margin: 0px;
	margin-left: 0px;
	
	
}
ul .submenu li a{
	padding: 0px;
	display: block;

}